.course-page {
    padding: 20px; /* Adjust padding as needed */
    margin-top: 70px; /* Adjust margin to create space for the header */
  }

  .app-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Adjust background color as needed */
    z-index: 1000; /* Ensure the header is above other elements */
  }